//- This is a file where you can see many
//- language features that are included in fastjade
//- Default doctype:
doctype
//- XML doctype:
doctype xml
//- Possible values: html, 5, default, xml, transitional, strict, frameset, 1.1, basic, mobile

html(lang="de")
  head
    title Hello World!
    meta(charset="utf-8")
      | This is text.
      | Since it is inside a self-closing node, it is ignored.
  body
    p.cls A paragraph
    p= "A paragraph with javascript " + " content."
      |  More text
      = "javascript content can appear here, too."
      != "This string is <b>not escaped!</b>"
    //- There are 2 types of comments:
    //- This comment is completely ignored by the compiler.
    // This is a HTML comment. It will appear in the output.
      p This is a node inside the comment. It won't appear on the website.
        // This is an HTML comment inside an HTML comment.
        // Inner html comments use square brackets instead of angle brackets.

    //- The following two nodes are identical:
    a.button#red(href="#1") Click me!
    a(href="#1" id="red" class="button") Click me!
    
    //- Now some javascript:
    - var test = "Hello World"
    - var options = ['Anne', 'Henry', 'Paul', '<b>Ella</b>', 'Kim', 'Rita']
    select(name=test)
      - for (var i = 0; i < options.length; i++)
        - var str = test + " " + i
        option(value=str)= options[i]

    //- Another example:
    ul
      - for (var i = 0; i < options.length; i++)
        li !{options[i]}
